body{
    background-color: rgb(192, 191, 191);
}

.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img{
    background-color: rgb(192, 191, 191);
    width: 350px;
    height: 350px;
    margin-top: 8%;
}

.timer{
    font-size: 130px;
    margin-top: -230px;
}

.areaBtn{
    margin-top: 8%;
    display: flex;
}

.btn{
    text-align: center;
    width: 150px;
    font-size: 20px;
    background-color: rgb(53, 53, 53);
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.8;
}